.botao-menu {
    border: 1px solid gray;
    height: 5rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}

.menu{
    border: 1px solid gray;
    width: 12rem;
    height: calc(100vh - 4rem);
    padding-left: 2rem;
    padding-top: 1.5rem ;
    background: white;
    transition: translate .4s;
}


.menu nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu.close {
    translate: -100%;
}

.menu-desktop{
    display: none;
}

@media(min-width:900px){
    .menu-mobile{
        display: none;
    }

    .menu-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}